* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color: hsl(30, 38%, 92%);
}

header{
  width:75%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content:space-between;
}

.image {
  border-bottom-left-radius:10px;
  border-top-left-radius:10px;
  width:50%;
  background:url('image-product-desktop.jpg');
  background-repeat: no-repeat;
  background-position-x:60%;
}

.paragraph {
  width: 50%;
  padding: 100px 20px;
}

.paragraph p{
  padding: 15px 0px;
  line-height:22px;
}

.paragraph h1 {
  font-size: 40px;
  padding: 10px 20px 10px 0px;
}

.paragraph b {
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.paragraph u{
  text-decoration:line-through;
  padding-left:20px;
}

button {
  background-color: hsl(158, 36%, 37%);
  margin-top: 30px;
  width: 350px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* Media Queries of 1240px */
@media (max-width: 1240px) {
.paragraph {
  padding: 80px 20px;
}

.paragraph p {
  padding: 10px 0px;
}

.paragraph h1 {
  font-size: 35px;
}

button {
  width: 250px;
}
}

/* Media Queries of 950px */
@media(max-width:950px){
header {
  width:95%;
}
}

/* media queries of 800px */
nav{
  width:90%;
}

/* Media Queries of 630px */
@media(max-width:630px){
.image {
  border-radius:10px;
  background-image:url('image-product-mobile.jpg');
  background-position-x:30%;
  height:300px;
  text-align: center;
  width:100%;
}

.paragraph {
  width:100%;
  padding:20px 30px;
}
  
.paragraph p {
  font-size:14px;
  padding: 10px 0px;
}

.paragraph h1 {
  font-size:25px;
}
    
.paragraph b {
  font-size:25px;
}

button {
  width:80vw;
}
    
header {
  flex-direction: column;
}
}
